extends ../layouts/default

block intro
	.container
		h1 联系我们
		
block content
	.container
		if enquirySubmitted
			h3 感谢您与我们联系!
		else
			.row: .col-sm-8.col-md-6
				form(method='post')
					input(type='hidden', name='action', value='contact')
					.form-group(class=validationErrors.name ? 'has-error' : null)
						label 姓名
						input(type='text', name='name.full', value=formData['name.full']).form-control
					.form-group(class=validationErrors.email ? 'has-error' : null)
						label 电子邮件
						input(type='email', name='email', value=formData.email).form-control
					.form-group
						label 电话
						input(type='text', name='phone', value=formData.phone, placeholder='(optional)').form-control
					.form-group(class=validationErrors.enquiryType ? 'has-error' : null)
						label 您的问题?
						select(name='enquiryType').form-control
							option(value='') (请选择)
							each type in enquiryTypes
								option(value=type.value, selected=formData.enquiryType == type.value)= type.label
					.form-group(class=validationErrors.message ? 'has-error' : null)
						label Message
						textarea(name='message', placeholder='消息...' rows=4).form-control= formData.message
					.form-actions
						button(type='submit').btn.btn-primary 提交
